@inherits LayoutComponentBase

<PageTitle>Login</PageTitle>


<main class="d-flex justify-content-center align-items-center vh-100" style="background-color: #0F0F0F;">
    <article class="container rounded-2" style="background-color: #191919; max-width: 450px;">
            @Body
        </article>
    </main>

