<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SocketChat.App.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
	
    <HeadOutlet />
</head>

<body>
    <Routes  />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
