@page "/counter"
@inject HttpClient _client;
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>@message</p>

@code {
	private int currentCount;
	private string message = "";

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var response = await _client.GetAsync($"/Users/Page?PageNumber={1}&PageSize=20");

			var pagination = response.Headers.ToList().Where(e => e.Key == "X-Pagination").Select(e => e.Value).FirstOrDefault();
			var totalPagination = pagination.FirstOrDefault().Split(',').ToList()[1];

			int total = int.Parse(totalPagination.Split(":").ToList()[1]);
			if (total == currentCount)
				return;

			currentCount = total;
		}
		catch (Exception ex)
		{
			message = ex.Message;
		}







		


	}

	private void IncrementCount()
	{
		currentCount++;
	}

}
